@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">A sample project demonstration of Entity Framework, repository patterns, service based architecture, inversion of control, dependency injection, API based design, and basic MVC development.</p>
    <p><a href="@Url.Action("Index","Title")" class="btn btn-primary btn-lg">Start here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Titles</h2>
        <p>
            View available titles with CRUD support as well as a clickable Title name that will redirect user to a list of inventory items for that title.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Title")">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Warehouses</h2>
        <p>View Available warehouses with CRUD support and clickable links that will display inventory at that location.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Warehouse")">Go &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Inventory</h2>
        <p>A straight dump of all available inventory. Best if navigated to via the Titles controller. Each item has CRUD support</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Inventory")">Go &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>API Documentation</h2>
        <p>API courtesy of the developer, the self documentation is provided by Swagger and Swashbuckle.</p>
        <p><a class="btn btn-default" href="~/swagger">Go &raquo;</a></p>
    </div>
</div>